apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "deepstream-inference.fullname" . }}-deepstream
  labels:
  {{- include "deepstream-inference.labels" . | nindent 4 }}
data:
  init.sh: |
    #!/bin/bash

    mkdir -p cd /opt/nvidia/deepstream/deepstream-6.4/sources/apps/sample_apps/deepstream-test5/recordings
    
    echo -n \"--------------FINISHED--------------\"
  dstest5_msgconv_sample_config.txt: |
    [sensor0]
    enable=1
    type=Camera
    id=HWY_20_AND_LOCUST__EBA__4_11_2018_4_59_59_508_AM_UTC-07_00
    location=45.293701447;-75.8303914499;48.1557479338
    description=Aisle Camera
    coordinate=5.2;10.1;11.2

    [sensor1]
    enable=1
    type=Camera
    id=HWY_20_AND_LOCUST__WBA__4_11_2018_4_59_59_379_AM_UTC-07_00
    location=45.293701447;-75.8303914499;48.1557479338
    description=Aisle Camera
    coordinate=5.2;10.1;11.2

    [sensor2]
    enable=1
    type=Camera
    id=HWY_20_AND_DEVON__WBA__4_11_2018_4_59_59_134_AM_UTC-07_00
    location=45.293701447;-75.8303914499;48.1557479338
    description=Aisle Camera
    coordinate=5.2;10.1;11.2

    [sensor3]
    enable=1
    type=Camera
    id=HWY_20_AND_LOCUST__4_11_2018_4_59_59_320_AM_UTC-07_00
    location=45.293701447;-75.8303914499;48.1557479338
    description=Aisle Camera
    coordinate=5.2;10.1;11.2

    [place0]
    enable=1
    id=0
    type=intersection/road
    name=HWY_20_AND_LOCUST__EBA
    location=30.32;-40.55;100.0
    coordinate=1.0;2.0;3.0
    place-sub-field1=C_127_158
    place-sub-field2=Lane 1
    place-sub-field3=P1

    [place1]
    enable=1
    id=1
    type=intersection/road
    name=HWY_20_AND_LOCUST__WBA
    location=30.32;-40.55;100.0
    coordinate=1.0;2.0;3.0
    place-sub-field1=C_127_158
    place-sub-field2=Lane 1
    place-sub-field3=P1

    [place2]
    enable=1
    id=2
    type=intersection/road
    name=HWY_20_AND_DEVON__WBA
    location=30.32;-40.55;100.0
    coordinate=1.0;2.0;3.0
    place-sub-field1=C_127_158
    place-sub-field2=Lane 1
    place-sub-field3=P1

    [place3]
    enable=1
    id=3
    type=intersection/road
    name=HWY_20_AND_LOCUST
    location=30.32;-40.55;100.0
    coordinate=1.0;2.0;3.0
    place-sub-field1=C_127_158
    place-sub-field2=Lane 1
    place-sub-field3=P1

    [analytics0]
    enable=1
    id=XYZ_1
    description=Vehicle Detection and License Plate Recognition
    source=OpenALR
    version=1.0

    [analytics1]
    enable=1
    id=XYZ_2
    description=Vehicle Detection and License Plate Recognition 1
    source=OpenALR
    version=1.0

    [analytics2]
    enable=1
    id=XYZ_3
    description=Vehicle Detection and License Plate Recognition 2
    source=OpenALR
    version=1.0

    [analytics3]
    enable=1
    id=XYZ_4
    description=Vehicle Detection and License Plate Recognition 4
    source=OpenALR
    version=1.0
  deepstream_config.txt: |
    [application]
    enable-perf-measurement=1
    perf-measurement-interval-sec=5
    #gie-kitti-output-dir=streamscl

    [tiled-display]
    enable=1
    rows=1
    columns=1
    width={{ .Values.videoSink.width }}
    height={{ .Values.videoSink.height }}
    gpu-id=0
    nvbuf-memory-type=0

    [source0]
    enable=1
    type=4
    uri={{ .Values.rtspSourceURL }}
    num-sources=1
    gpu-id=0
    cudadec-memtype=0
    nvbuf-memory-type=0
    {{ if (default .Values.recording.enabled true) }}
    smart-record=1
    smart-rec-container=0
    smart-rec-dir-path=/opt/nvidia/deepstream/deepstream-6.4/sources/apps/sample_apps/deepstream-test5/recordings
    smart-rec-cache={{ .Values.recording.cache }}
    smart-rec-default-duration={{ .Values.recording.duration }}
    smart-rec-interval={{ .Values.recording.interval }}
    {{ end }}

    {{ if (default .Values.videoSink.rtsp.enabled true) }}
    [sink0]
    enable=1
    type=4
    rtsp-port={{ .Values.videoSink.rtsp.port }}
    sync=0
    source-id=0
    codec=2
    bitrate=1000000
    {{ end }}

    {{ if (default .Values.recording.enabled true) }}
    [message-consumer0]
    enable=1
    proto-lib=/opt/nvidia/deepstream/deepstream/lib/libnvds_kafka_proto.so
    conn-str={{ .Values.recording.kafka.ip }};{{ .Values.recording.kafka.port }}
    config-file=/opt/nvidia/deepstream/deepstream/sources/libs/kafka_protocol_adaptor/cfg_kafka.txt
    subscribe-topic-list={{ .Values.recording.kafka.topic }}
    {{ end }}

    [streammux]
    gpu-id=0
    batch-size=1
    batched-push-timeout=40000
    width={{ .Values.videoSink.width }}
    height={{ .Values.videoSink.height }}
    enable-padding=0
    nvbuf-memory-type=0
    attach-sys-ts-as-ntp=1

    [tracker]
    enable=0
    tracker-width=960
    tracker-height=544
    ll-lib-file=/opt/nvidia/deepstream/deepstream/lib/libnvds_nvmultiobjecttracker.so
    ll-config-file=../../../../../samples/configs/deepstream-app/config_tracker_NvDCF_perf.yml
    gpu-id=0
    display-tracking-id=1

    [tests]
    file-loop=0